Loading Libraries

In [52]:
import pandas as pd
import numpy as np
import os
import glob
import datetime as dt

Set the path where the CSV files are present

In [2]:
path = r'D:\St. Clair\Data Analytics for Business\DAB103- Analytic tools and Decision Making\Covid19'                     
all_files = glob.glob(os.path.join(path, "*.csv"))

Load multiple CSV files at once into a dataframe

In [3]:
df_from_each_file = (pd.read_csv(f) for f in all_files)
covid = pd.concat(df_from_each_file, ignore_index=True)

In [13]:
os.listdir(path)

['01-01-2021.csv',
 '01-02-2021.csv',
 '01-03-2021.csv',
 '01-04-2021.csv',
 '01-05-2021.csv',
 '01-06-2021.csv',
 '01-07-2021.csv',
 '01-08-2021.csv',
 '01-09-2021.csv',
 '01-10-2021.csv',
 '01-11-2021.csv',
 '01-12-2021.csv',
 '01-13-2021.csv',
 '01-14-2021.csv',
 '01-15-2021.csv',
 '01-16-2021.csv',
 '01-17-2021.csv',
 '01-18-2021.csv',
 '01-19-2021.csv',
 '01-20-2021.csv',
 '01-21-2021.csv',
 '01-22-2021.csv',
 '01-23-2021.csv',
 '01-24-2021.csv',
 '01-25-2021.csv',
 '01-26-2021.csv',
 '01-27-2021.csv',
 '01-28-2021.csv',
 '01-29-2021.csv',
 '01-30-2021.csv',
 '01-31-2021.csv',
 '02-01-2021.csv',
 '02-02-2021.csv',
 '02-03-2021.csv',
 '02-04-2021.csv',
 '02-05-2021.csv',
 '02-06-2021.csv',
 '02-07-2021.csv',
 '02-08-2021.csv',
 '02-09-2021.csv',
 '02-10-2021.csv',
 '02-11-2021.csv',
 '02-12-2021.csv',
 '02-13-2021.csv',
 '02-14-2021.csv',
 '02-15-2021.csv',
 '02-16-2021.csv',
 '02-17-2021.csv',
 '02-18-2021.csv',
 '02-19-2021.csv',
 '02-20-2021.csv',
 '02-21-2021.csv',
 '02-22-2021.csv',
 '02-23-2021.csv',
 '02-24-2021.csv',
 '02-25-2021.csv',
 '02-26-2021.csv',
 '02-27-2021.csv',
 '02-28-2021.csv']

In [4]:
covid

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2021-01-02 05:30:44,32.3182,-86.9023,365747,4872,202137.0,158738.0,1.0,7459.375895,1885216.0,NaN,1.332068,84000001.0,USA,38448.804196,NaN
1,Alaska,US,2021-01-02 05:30:44,61.3707,-152.4044,47019,206,7165.0,39615.0,2.0,6422.844801,1275750.0,NaN,0.438428,84000002.0,USA,174391.185778,NaN
2,American Samoa,US,2021-01-02 05:30:44,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,2140.0,NaN,NaN,16.0,ASM,3846.084722,NaN
3,Arizona,US,2021-01-02 05:30:44,33.7298,-111.4312,530267,9015,76934.0,444318.0,4.0,7285.171274,5155330.0,NaN,1.700087,84000004.0,USA,39551.860582,NaN
4,Arkansas,US,2021-01-02 05:30:44,34.9697,-92.3731,229442,3711,199247.0,26484.0,5.0,7602.945718,2051488.0,NaN,1.617402,84000005.0,USA,67979.497674,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3417,Virginia,US,2021-03-01 05:30:39,37.7693,-78.1700,576050,8552,NaN,567498.0,51.0,6748.857334,5902722.0,NaN,1.484593,84000051.0,USA,69154.810621,NaN
3418,Washington,US,2021-03-01 05:30:39,47.4009,-121.4905,339773,4956,NaN,334817.0,53.0,4461.953700,5234432.0,NaN,1.458621,84000053.0,USA,68739.403167,NaN
3419,West Virginia,US,2021-03-01 05:30:39,38.4912,-80.9545,131855,2300,121797.0,7758.0,54.0,7357.376376,2204237.0,NaN,1.744340,84000054.0,USA,122994.207506,NaN
3420,Wisconsin,US,2021-03-01 05:30:39,44.2685,-89.6165,617367,7014,549668.0,60685.0,55.0,10603.245996,6906878.0,NaN,1.136115,84000055.0,USA,118625.269088,NaN
3421,Wyoming,US,2021-03-01 05:30:39,42.7560,-107.3025,54394,671,53132.0,591.0,56.0,9398.385166,636716.0,NaN,1.233592,84000056.0,USA,110014.012741,NaN

In [5]:
covid.isna().sum()

Province_State             0
Country_Region             0
Last_Update                0
Lat                      118
Long_                    118
Confirmed                  0
Deaths                     0
Recovered                810
Active                     0
FIPS                       0
Incident_Rate            118
Total_Test_Results       118
People_Hospitalized     3422
Case_Fatality_Ratio       59
UID                        0
ISO3                       0
Testing_Rate             118
Hospitalization_Rate    3422
dtype: int64

In [6]:
covid.dropna()

Empty DataFrame
Columns: [Province_State, Country_Region, Last_Update, Lat, Long_, Confirmed, Deaths, Recovered, Active, FIPS, Incident_Rate, Total_Test_Results, People_Hospitalized, Case_Fatality_Ratio, UID, ISO3, Testing_Rate, Hospitalization_Rate]
Index: []

In [9]:
covid

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2021-01-02 05:30:44,32.3182,-86.9023,365747,4872,202137.0,158738.0,1.0,7459.375895,1885216.0,NaN,1.332068,84000001.0,USA,38448.804196,NaN
1,Alaska,US,2021-01-02 05:30:44,61.3707,-152.4044,47019,206,7165.0,39615.0,2.0,6422.844801,1275750.0,NaN,0.438428,84000002.0,USA,174391.185778,NaN
2,American Samoa,US,2021-01-02 05:30:44,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,2140.0,NaN,NaN,16.0,ASM,3846.084722,NaN
3,Arizona,US,2021-01-02 05:30:44,33.7298,-111.4312,530267,9015,76934.0,444318.0,4.0,7285.171274,5155330.0,NaN,1.700087,84000004.0,USA,39551.860582,NaN
4,Arkansas,US,2021-01-02 05:30:44,34.9697,-92.3731,229442,3711,199247.0,26484.0,5.0,7602.945718,2051488.0,NaN,1.617402,84000005.0,USA,67979.497674,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3417,Virginia,US,2021-03-01 05:30:39,37.7693,-78.1700,576050,8552,NaN,567498.0,51.0,6748.857334,5902722.0,NaN,1.484593,84000051.0,USA,69154.810621,NaN
3418,Washington,US,2021-03-01 05:30:39,47.4009,-121.4905,339773,4956,NaN,334817.0,53.0,4461.953700,5234432.0,NaN,1.458621,84000053.0,USA,68739.403167,NaN
3419,West Virginia,US,2021-03-01 05:30:39,38.4912,-80.9545,131855,2300,121797.0,7758.0,54.0,7357.376376,2204237.0,NaN,1.744340,84000054.0,USA,122994.207506,NaN
3420,Wisconsin,US,2021-03-01 05:30:39,44.2685,-89.6165,617367,7014,549668.0,60685.0,55.0,10603.245996,6906878.0,NaN,1.136115,84000055.0,USA,118625.269088,NaN
3421,Wyoming,US,2021-03-01 05:30:39,42.7560,-107.3025,54394,671,53132.0,591.0,56.0,9398.385166,636716.0,NaN,1.233592,84000056.0,USA,110014.012741,NaN

In [10]:
covid.groupby(['Province_State']).sum()

,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,UID,Testing_Rate,Hospitalization_Rate
Province_State,,,,,,,,,,,,,,
Alabama,1906.7738,-5127.2357,26354921,441658,14298095.0,11615168.0,59.0,537506.151614,1.246431e+08,0.0,97.657717,4.956000e+09,2.542084e+06,0.0
Alaska,3620.8713,-8991.8596,3176259,15285,143300.0,3016811.0,118.0,434067.077213,8.783343e+07,0.0,28.325012,4.956000e+09,1.200657e+07,0.0
American Samoa,-841.9890,-10037.7880,0,0,0.0,0.0,3540.0,0.000000,1.262600e+05,0.0,0.000000,9.440000e+02,2.269190e+05,0.0
Arizona,1990.0582,-6574.4408,42643681,757411,5224392.0,36661878.0,236.0,585868.100106,3.858959e+08,0.0,104.156566,4.956000e+09,2.748445e+06,0.0
Arkansas,2063.2123,-5450.0129,16966012,279142,15676357.0,1010513.0,295.0,562197.279876,1.416450e+08,0.0,96.889987,4.956000e+09,4.693645e+06,0.0
California,2130.8558,-7061.2144,187987779,2357428,0.0,184994442.0,354.0,474137.696581,2.449449e+09,0.0,73.239689,4.956000e+09,6.199218e+06,0.0
Colorado,2304.5282,-6213.3549,23054379,327316,1088703.0,21638360.0,472.0,400337.487254,3.172212e+08,0.0,83.827490,4.956000e+09,5.508522e+06,0.0
Connecticut,2454.2702,-4292.5686,14419682,411351,509600.0,13498731.0,531.0,404446.598549,3.297498e+08,0.0,169.242711,4.956001e+09,9.248899e+06,0.0
Delaware,2319.7915,-4454.9189,4452803,74975,377020.0,4008661.0,590.0,457277.430671,7.114046e+07,0.0,88.792731,4.956001e+09,7.305719e+06,0.0
Diamond Princess,0.0000,0.0000,2891,0,0.0,2891.0,5244392.0,0.000000,0.000000e+00,0.0,0.000000,4.961244e+09,0.000000e+00,0.0
District of Columbia,2294.9466,-4544.5812,2118393,53504,1496744.0,568145.0,649.0,300162.380676,6.358004e+07,0.0,149.246588,4.956001e+09,9.008875e+06,0.0
Florida,1638.2117,-4819.5212,98997007,1552425,0.0,97444582.0,708.0,460928.481432,1.116246e+09,0.0,92.486645,4.956001e+09,5.197225e+06,0.0
Georgia,1949.3954,-4934.9429,51823646,828555,0.0,50995091.0,767.0,488100.040848,3.748033e+08,0.0,94.002550,4.956001e+09,3.530078e+06,0.0
Grand Princess,0.0000,0.0000,6077,177,0.0,5900.0,5899941.0,0.000000,0.000000e+00,0.0,171.844660,4.961900e+09,0.000000e+00,0.0
Guam,793.2137,8542.8283,446680,7530,433427.0,5723.0,3894.0,271986.068234,6.289916e+06,0.0,99.454067,1.864400e+04,3.829967e+06,0.0
Hawaii,1244.5637,-9292.3997,1537877,22161,215244.0,1270534.0,885.0,106498.892555,5.689312e+07,0.0,86.067857,4.956001e+09,4.018239e+06,0.0
Idaho,2610.1895,-6754.2492,9455434,99906,4656916.0,4698612.0,944.0,529104.089667,3.519034e+07,0.0,62.269075,4.956001e+09,1.969169e+06,0.0
Illinois,2380.6205,-5250.1799,65263178,1233687,0.0,64028727.0,1003.0,514993.583006,9.343220e+08,0.0,111.483070,4.956001e+09,7.373226e+06,0.0
Indiana,2351.1146,-5089.2397,36124667,663902,20912568.0,14590091.0,1062.0,536593.759056,4.082620e+08,0.0,101.172053,4.956001e+09,6.064301e+06,0.0
Iowa,2478.6785,-5499.4195,18618552,279729,16618699.0,1990645.0,1121.0,598689.506097,7.358015e+07,0.0,87.184818,4.956001e+09,2.332124e+06,0.0
Kansas,2273.0694,-5706.8635,16030283,227864,290665.0,15504392.0,1180.0,549923.660821,6.810221e+07,0.0,82.774913,4.956001e+09,2.337620e+06,0.0
Kentucky,2222.4179,-4995.5359,20778419,216626,2528507.0,18078231.0,1239.0,465049.299714,2.106211e+08,0.0,61.117247,4.956001e+09,4.714336e+06,0.0
Louisiana,1839.0005,-5420.2002,22928914,513500,20050954.0,2364460.0,1298.0,493222.844462,2.915250e+08,0.0,132.304066,4.956001e+09,6.270982e+06,0.0
Maine,2636.9401,-4093.5321,2197075,33103,724190.0,1439782.0,1357.0,163447.060434,8.083635e+07,0.0,88.510255,4.956001e+09,6.013661e+06,0.0
Maryland,2304.7701,-4531.3239,20298484,413836,560612.0,19324036.0,1416.0,335751.875720,4.063876e+08,0.0,120.348951,4.956001e+09,6.721950e+06,0.0
Massachusetts,2491.5818,-4220.2759,29793031,851927,22552388.0,6384532.0,1475.0,432191.208332,7.977192e+08,0.0,169.728623,4.956001e+09,1.157372e+07,0.0
Michigan,2556.2694,-4987.6299,35541212,900332,27381902.0,7258978.0,1534.0,355879.852891,5.481405e+08,0.0,149.373572,4.956002e+09,5.488619e+06,0.0
Minnesota,2695.9755,-5540.1118,26985617,363004,26019365.0,603248.0,1593.0,478499.607776,3.646501e+08,0.0,79.323184,4.956002e+09,6.465850e+06,0.0
Mississippi,1931.7544,-5291.0433,15724661,348560,13305903.0,2070198.0,1652.0,528355.972769,9.234331e+07,0.0,130.652739,4.956002e+09,3.102778e+06,0.0
Missouri,2268.9099,-5445.0156,30768655,419097,397080.0,26590675.0,1711.0,446522.338022,2.423424e+08,0.0,89.562346,4.956002e+09,3.948599e+06,0.0
Montana,2768.3921,-6516.8096,5465839,70925,5171646.0,223268.0,1770.0,511410.133816,5.567024e+07,0.0,76.337482,4.956002e+09,5.208774e+06,0.0
Nebraska,2426.3986,-5797.8179,11096714,112375,7856563.0,3127684.0,1829.0,573649.095744,1.223654e+08,0.0,59.767454,4.956002e+09,6.325731e+06,0.0
Nevada,2260.4965,-6906.2686,16011379,246263,0.0,15765116.0,1888.0,519875.454360,1.445545e+08,0.0,90.310168,4.956002e+09,4.693092e+06,0.0
New Hampshire,2563.6975,-4222.2701,3751445,59840,3378585.0,281304.0,1947.0,273505.693489,7.351693e+07,0.0,95.222549,4.956002e+09,5.406805e+06,0.0
New Jersey,2377.6351,-4396.7390,40030820,1259209,3486604.0,34794047.0,2006.0,445158.907882,5.501378e+08,0.0,190.199627,4.956002e+09,6.193718e+06,0.0
New Mexico,2055.5895,-6268.6615,10040689,188617,6065908.0,3786164.0,2065.0,478851.112799,1.374782e+08,0.0,110.488762,4.956002e+09,6.556481e+06,0.0
New York,2487.7763,-4421.9379,80830044,2549623,6548425.0,71731996.0,2124.0,415483.103582,1.871198e+09,0.0,188.204943,4.956002e+09,9.618793e+06,0.0
North Carolina,2102.1759,-4708.5776,43379718,540156,32770903.0,10068659.0,2183.0,413609.559191,5.186157e+08,0.0,73.246959,4.956002e+09,4.944809e+06,0.0
North Dakota,2804.2051,-5887.2560,5724853,83984,5572910.0,68039.0,2242.0,751231.920762,7.896744e+07,0.0,86.445089,4.956002e+09,1.036234e+07,0.0
Northern Mariana Islands,890.7761,8594.7601,7785,118,1711.0,5956.0,4071.0,14117.583055,1.036080e+06,0.0,89.606614,3.422000e+04,1.878863e+06,0.0
Ohio,2382.9392,-4883.1291,51429269,993940,44922391.0,5781530.0,2301.0,439976.294154,5.289102e+08,0.0,82.408999,4.956002e+09,4.524815e+06,0.0
Oklahoma,2098.3527,-5718.8051,22299814,204459,20389927.0,1664280.0,2360.0,562517.794545,1.850966e+08,0.0,53.833917,4.956002e+09,4.677735e+06,0.0
Oregon,2629.7480,-7202.1831,8251553,112774,105660.0,8032507.0,2419.0,195607.763120,1.848908e+08,0.0,80.418637,4.956002e+09,4.383649e+06,0.0
Pennsylvania,2394.8572,-4555.3782,48673003,1234066,39431433.0,7894008.0,2478.0,379286.726461,5.358528e+08,0.0,149.282813,4.956002e+09,3.091647e+06,0.0
Puerto Rico,1075.0272,-3928.8159,5398107,106227,4719865.0,572015.0,4248.0,169023.926525,2.345046e+07,0.0,116.068308,3.717000e+04,7.342737e+05,0.0
Rhode Island,2459.1731,-4219.1962,6602800,135490,356894.0,6118732.0,2596.0,623281.393217,1.469932e+08,0.0,113.735121,4.956003e+09,1.387565e+07,0.0
South Carolina,1997.5571,-4775.7550,25344499,413161,11483045.0,13448293.0,2655.0,492249.113079,2.444458e+08,0.0,96.208954,4.956003e+09,4.747707e+06,0.0
South Dakota,2613.6882,-5866.8892,6334249,101982,6029184.0,203022.0,2714.0,716003.341400,2.362862e+07,0.0,94.874165,4.956003e+09,2.670929e+06,0.0
Tennessee,2109.1202,-5114.8457,41989510,559831,38953190.0,2476489.0,2773.0,614854.885818,3.758230e+08,0.0,78.218714,4.956003e+09,5.503199e+06,0.0
Texas,1832.2155,-5756.2465,136410027,2149548,114025236.0,20181743.0,2832.0,470170.583884,1.005219e+09,0.0,92.802370,4.956003e+09,3.466766e+06,0.0
Utah,2368.8500,-6599.8816,19943404,96112,17531729.0,2314964.0,2891.0,622054.468586,1.522330e+08,0.0,28.351258,4.956003e+09,4.748439e+06,0.0
Vermont,2598.7081,-4289.9313,687569,10311,501866.0,175392.0,2950.0,110189.282183,5.189406e+07,0.0,90.317284,4.956003e+09,8.316502e+06,0.0
Virgin Islands,1081.8122,-3828.8817,139823,1431,132332.0,6060.0,4602.0,130349.218779,2.454878e+06,0.0,60.670222,5.015000e+04,2.288546e+06,0.0
Virginia,2228.3887,-4612.0300,28665873,377911,2027137.0,26260825.0,3009.0,335842.179017,3.043827e+08,0.0,77.943940,4.956003e+09,3.566072e+06,0.0
Washington,2796.6531,-7167.9395,17992711,251390,0.0,17739308.0,3127.0,236256.254684,2.667865e+08,0.0,82.294234,4.956003e+09,3.503483e+06,0.0
West Virginia,2270.9808,-4776.3155,6863302,114690,5584851.0,1163761.0,3186.0,382965.348267,1.123624e+08,0.0,98.154453,4.956003e+09,6.269708e+06,0.0
Wisconsin,2611.8415,-5287.3735,34404872,370233,30086458.0,3948181.0,3245.0,590901.880554,3.613013e+08,0.0,63.369516,4.956003e+09,6.205331e+06,0.0
Wyoming,2522.6040,-6330.8475,3000590,34442,2891565.0,74583.0,3304.0,518452.412835,3.510182e+07,0.0,67.451615,4.956003e+09,6.065015e+06,0.0

In [11]:
covid.dropna(subset = ["Recovered"], inplace=True)

In [12]:
covid

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2021-01-02 05:30:44,32.3182,-86.9023,365747,4872,202137.0,158738.0,1.0,7459.375895,1885216.0,NaN,1.332068,84000001.0,USA,38448.804196,NaN
1,Alaska,US,2021-01-02 05:30:44,61.3707,-152.4044,47019,206,7165.0,39615.0,2.0,6422.844801,1275750.0,NaN,0.438428,84000002.0,USA,174391.185778,NaN
3,Arizona,US,2021-01-02 05:30:44,33.7298,-111.4312,530267,9015,76934.0,444318.0,4.0,7285.171274,5155330.0,NaN,1.700087,84000004.0,USA,39551.860582,NaN
4,Arkansas,US,2021-01-02 05:30:44,34.9697,-92.3731,229442,3711,199247.0,26484.0,5.0,7602.945718,2051488.0,NaN,1.617402,84000005.0,USA,67979.497674,NaN
6,Colorado,US,2021-01-02 05:30:44,39.0598,-105.3111,337161,4873,18102.0,314186.0,8.0,5854.774381,4444206.0,NaN,1.445304,84000008.0,USA,77173.289416,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3415,Vermont,US,2021-03-01 05:30:39,44.0459,-72.7107,15198,204,12532.0,2462.0,50.0,2435.619859,1068299.0,NaN,1.342282,84000050.0,USA,171204.780854,NaN
3416,Virgin Islands,US,2021-03-01 05:30:39,18.3358,-64.8963,2646,25,2511.0,110.0,78.0,2466.718872,47871.0,NaN,0.944822,850.0,VIR,44627.475109,NaN
3419,West Virginia,US,2021-03-01 05:30:39,38.4912,-80.9545,131855,2300,121797.0,7758.0,54.0,7357.376376,2204237.0,NaN,1.744340,84000054.0,USA,122994.207506,NaN
3420,Wisconsin,US,2021-03-01 05:30:39,44.2685,-89.6165,617367,7014,549668.0,60685.0,55.0,10603.245996,6906878.0,NaN,1.136115,84000055.0,USA,118625.269088,NaN
3421,Wyoming,US,2021-03-01 05:30:39,42.7560,-107.3025,54394,671,53132.0,591.0,56.0,9398.385166,636716.0,NaN,1.233592,84000056.0,USA,110014.012741,NaN

In [14]:
path = r'D:\St. Clair\Data Analytics for Business\DAB103- Analytic tools and Decision Making\Covid19' 
files= os.listdir(path)

In [15]:
df_total=pd.DataFrame()

In [16]:
for file in files :
    df_temp=pd.read_csv(path + "\\" + file)
    df_temp['filename']= file
    df_total=df_total.append(df_temp)

In [17]:
df_total

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate,filename
0,Alabama,US,2021-01-02 05:30:44,32.3182,-86.9023,365747,4872,202137.0,158738.0,1.0,7459.375895,1885216.0,NaN,1.332068,84000001.0,USA,38448.804196,NaN,01-01-2021.csv
1,Alaska,US,2021-01-02 05:30:44,61.3707,-152.4044,47019,206,7165.0,39615.0,2.0,6422.844801,1275750.0,NaN,0.438428,84000002.0,USA,174391.185778,NaN,01-01-2021.csv
2,American Samoa,US,2021-01-02 05:30:44,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,2140.0,NaN,NaN,16.0,ASM,3846.084722,NaN,01-01-2021.csv
3,Arizona,US,2021-01-02 05:30:44,33.7298,-111.4312,530267,9015,76934.0,444318.0,4.0,7285.171274,5155330.0,NaN,1.700087,84000004.0,USA,39551.860582,NaN,01-01-2021.csv
4,Arkansas,US,2021-01-02 05:30:44,34.9697,-92.3731,229442,3711,199247.0,26484.0,5.0,7602.945718,2051488.0,NaN,1.617402,84000005.0,USA,67979.497674,NaN,01-01-2021.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,Virginia,US,2021-03-01 05:30:39,37.7693,-78.1700,576050,8552,NaN,567498.0,51.0,6748.857334,5902722.0,NaN,1.484593,84000051.0,USA,69154.810621,NaN,02-28-2021.csv
54,Washington,US,2021-03-01 05:30:39,47.4009,-121.4905,339773,4956,NaN,334817.0,53.0,4461.953700,5234432.0,NaN,1.458621,84000053.0,USA,68739.403167,NaN,02-28-2021.csv
55,West Virginia,US,2021-03-01 05:30:39,38.4912,-80.9545,131855,2300,121797.0,7758.0,54.0,7357.376376,2204237.0,NaN,1.744340,84000054.0,USA,122994.207506,NaN,02-28-2021.csv
56,Wisconsin,US,2021-03-01 05:30:39,44.2685,-89.6165,617367,7014,549668.0,60685.0,55.0,10603.245996,6906878.0,NaN,1.136115,84000055.0,USA,118625.269088,NaN,02-28-2021.csv
57,Wyoming,US,2021-03-01 05:30:39,42.7560,-107.3025,54394,671,53132.0,591.0,56.0,9398.385166,636716.0,NaN,1.233592,84000056.0,USA,110014.012741,NaN,02-28-2021.csv

In [22]:
df_total['Date']=df_total.filename[:-4]

ValueError: cannot reindex from a duplicate axis

In [24]:
df = pd.DataFrame([['  a  ', 10], ['  c  ', 5]])
df

       0   1
0    a    10
1    c     5

In [26]:
df.replace('^\s+', '', regex=True, inplace=True)
df

     0   1
0  a    10
1  c     5

In [35]:
df_total['Date'] = df_total['filename'].str.replace(r'.csv$', '')

<ipython-input-35-c6961f6fb9da>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_total['Date'] = df_total['filename'].str.replace(r'.csv$', '')

In [36]:
df_total

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate,filename,Date
0,Alabama,US,2021-01-02 05:30:44,32.3182,-86.9023,365747,4872,202137.0,158738.0,1.0,7459.375895,1885216.0,NaN,1.332068,84000001.0,USA,38448.804196,NaN,01-01-2021.csv,01-01-2021
1,Alaska,US,2021-01-02 05:30:44,61.3707,-152.4044,47019,206,7165.0,39615.0,2.0,6422.844801,1275750.0,NaN,0.438428,84000002.0,USA,174391.185778,NaN,01-01-2021.csv,01-01-2021
2,American Samoa,US,2021-01-02 05:30:44,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,2140.0,NaN,NaN,16.0,ASM,3846.084722,NaN,01-01-2021.csv,01-01-2021
3,Arizona,US,2021-01-02 05:30:44,33.7298,-111.4312,530267,9015,76934.0,444318.0,4.0,7285.171274,5155330.0,NaN,1.700087,84000004.0,USA,39551.860582,NaN,01-01-2021.csv,01-01-2021
4,Arkansas,US,2021-01-02 05:30:44,34.9697,-92.3731,229442,3711,199247.0,26484.0,5.0,7602.945718,2051488.0,NaN,1.617402,84000005.0,USA,67979.497674,NaN,01-01-2021.csv,01-01-2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,Virginia,US,2021-03-01 05:30:39,37.7693,-78.1700,576050,8552,NaN,567498.0,51.0,6748.857334,5902722.0,NaN,1.484593,84000051.0,USA,69154.810621,NaN,02-28-2021.csv,02-28-2021
54,Washington,US,2021-03-01 05:30:39,47.4009,-121.4905,339773,4956,NaN,334817.0,53.0,4461.953700,5234432.0,NaN,1.458621,84000053.0,USA,68739.403167,NaN,02-28-2021.csv,02-28-2021
55,West Virginia,US,2021-03-01 05:30:39,38.4912,-80.9545,131855,2300,121797.0,7758.0,54.0,7357.376376,2204237.0,NaN,1.744340,84000054.0,USA,122994.207506,NaN,02-28-2021.csv,02-28-2021
56,Wisconsin,US,2021-03-01 05:30:39,44.2685,-89.6165,617367,7014,549668.0,60685.0,55.0,10603.245996,6906878.0,NaN,1.136115,84000055.0,USA,118625.269088,NaN,02-28-2021.csv,02-28-2021
57,Wyoming,US,2021-03-01 05:30:39,42.7560,-107.3025,54394,671,53132.0,591.0,56.0,9398.385166,636716.0,NaN,1.233592,84000056.0,USA,110014.012741,NaN,02-28-2021.csv,02-28-2021

In [37]:
del df_total["Date"]

In [38]:
df_total

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate,filename
0,Alabama,US,2021-01-02 05:30:44,32.3182,-86.9023,365747,4872,202137.0,158738.0,1.0,7459.375895,1885216.0,NaN,1.332068,84000001.0,USA,38448.804196,NaN,01-01-2021.csv
1,Alaska,US,2021-01-02 05:30:44,61.3707,-152.4044,47019,206,7165.0,39615.0,2.0,6422.844801,1275750.0,NaN,0.438428,84000002.0,USA,174391.185778,NaN,01-01-2021.csv
2,American Samoa,US,2021-01-02 05:30:44,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,2140.0,NaN,NaN,16.0,ASM,3846.084722,NaN,01-01-2021.csv
3,Arizona,US,2021-01-02 05:30:44,33.7298,-111.4312,530267,9015,76934.0,444318.0,4.0,7285.171274,5155330.0,NaN,1.700087,84000004.0,USA,39551.860582,NaN,01-01-2021.csv
4,Arkansas,US,2021-01-02 05:30:44,34.9697,-92.3731,229442,3711,199247.0,26484.0,5.0,7602.945718,2051488.0,NaN,1.617402,84000005.0,USA,67979.497674,NaN,01-01-2021.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,Virginia,US,2021-03-01 05:30:39,37.7693,-78.1700,576050,8552,NaN,567498.0,51.0,6748.857334,5902722.0,NaN,1.484593,84000051.0,USA,69154.810621,NaN,02-28-2021.csv
54,Washington,US,2021-03-01 05:30:39,47.4009,-121.4905,339773,4956,NaN,334817.0,53.0,4461.953700,5234432.0,NaN,1.458621,84000053.0,USA,68739.403167,NaN,02-28-2021.csv
55,West Virginia,US,2021-03-01 05:30:39,38.4912,-80.9545,131855,2300,121797.0,7758.0,54.0,7357.376376,2204237.0,NaN,1.744340,84000054.0,USA,122994.207506,NaN,02-28-2021.csv
56,Wisconsin,US,2021-03-01 05:30:39,44.2685,-89.6165,617367,7014,549668.0,60685.0,55.0,10603.245996,6906878.0,NaN,1.136115,84000055.0,USA,118625.269088,NaN,02-28-2021.csv
57,Wyoming,US,2021-03-01 05:30:39,42.7560,-107.3025,54394,671,53132.0,591.0,56.0,9398.385166,636716.0,NaN,1.233592,84000056.0,USA,110014.012741,NaN,02-28-2021.csv

In [39]:
df_total['Date'] = df_total['filename'].str[:-4]

In [40]:
df_total

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate,filename,Date
0,Alabama,US,2021-01-02 05:30:44,32.3182,-86.9023,365747,4872,202137.0,158738.0,1.0,7459.375895,1885216.0,NaN,1.332068,84000001.0,USA,38448.804196,NaN,01-01-2021.csv,01-01-2021
1,Alaska,US,2021-01-02 05:30:44,61.3707,-152.4044,47019,206,7165.0,39615.0,2.0,6422.844801,1275750.0,NaN,0.438428,84000002.0,USA,174391.185778,NaN,01-01-2021.csv,01-01-2021
2,American Samoa,US,2021-01-02 05:30:44,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,2140.0,NaN,NaN,16.0,ASM,3846.084722,NaN,01-01-2021.csv,01-01-2021
3,Arizona,US,2021-01-02 05:30:44,33.7298,-111.4312,530267,9015,76934.0,444318.0,4.0,7285.171274,5155330.0,NaN,1.700087,84000004.0,USA,39551.860582,NaN,01-01-2021.csv,01-01-2021
4,Arkansas,US,2021-01-02 05:30:44,34.9697,-92.3731,229442,3711,199247.0,26484.0,5.0,7602.945718,2051488.0,NaN,1.617402,84000005.0,USA,67979.497674,NaN,01-01-2021.csv,01-01-2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,Virginia,US,2021-03-01 05:30:39,37.7693,-78.1700,576050,8552,NaN,567498.0,51.0,6748.857334,5902722.0,NaN,1.484593,84000051.0,USA,69154.810621,NaN,02-28-2021.csv,02-28-2021
54,Washington,US,2021-03-01 05:30:39,47.4009,-121.4905,339773,4956,NaN,334817.0,53.0,4461.953700,5234432.0,NaN,1.458621,84000053.0,USA,68739.403167,NaN,02-28-2021.csv,02-28-2021
55,West Virginia,US,2021-03-01 05:30:39,38.4912,-80.9545,131855,2300,121797.0,7758.0,54.0,7357.376376,2204237.0,NaN,1.744340,84000054.0,USA,122994.207506,NaN,02-28-2021.csv,02-28-2021
56,Wisconsin,US,2021-03-01 05:30:39,44.2685,-89.6165,617367,7014,549668.0,60685.0,55.0,10603.245996,6906878.0,NaN,1.136115,84000055.0,USA,118625.269088,NaN,02-28-2021.csv,02-28-2021
57,Wyoming,US,2021-03-01 05:30:39,42.7560,-107.3025,54394,671,53132.0,591.0,56.0,9398.385166,636716.0,NaN,1.233592,84000056.0,USA,110014.012741,NaN,02-28-2021.csv,02-28-2021

In [55]:
df_total['datetime'] = pd.to_datetime(df_total['Date'], dayfirst=True)

In [49]:
df_total['Month'] = pd.DatetimeIndex(df_total['Date']).month

In [50]:
df_total

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,...,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate,filename,Date,Month
0,Alabama,US,2021-01-02 05:30:44,32.3182,-86.9023,365747,4872,202137.0,158738.0,1.0,...,1885216.0,NaN,1.332068,84000001.0,USA,38448.804196,NaN,01-01-2021.csv,01-01-2021,1
1,Alaska,US,2021-01-02 05:30:44,61.3707,-152.4044,47019,206,7165.0,39615.0,2.0,...,1275750.0,NaN,0.438428,84000002.0,USA,174391.185778,NaN,01-01-2021.csv,01-01-2021,1
2,American Samoa,US,2021-01-02 05:30:44,-14.2710,-170.1320,0,0,NaN,0.0,60.0,...,2140.0,NaN,NaN,16.0,ASM,3846.084722,NaN,01-01-2021.csv,01-01-2021,1
3,Arizona,US,2021-01-02 05:30:44,33.7298,-111.4312,530267,9015,76934.0,444318.0,4.0,...,5155330.0,NaN,1.700087,84000004.0,USA,39551.860582,NaN,01-01-2021.csv,01-01-2021,1
4,Arkansas,US,2021-01-02 05:30:44,34.9697,-92.3731,229442,3711,199247.0,26484.0,5.0,...,2051488.0,NaN,1.617402,84000005.0,USA,67979.497674,NaN,01-01-2021.csv,01-01-2021,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,Virginia,US,2021-03-01 05:30:39,37.7693,-78.1700,576050,8552,NaN,567498.0,51.0,...,5902722.0,NaN,1.484593,84000051.0,USA,69154.810621,NaN,02-28-2021.csv,02-28-2021,2
54,Washington,US,2021-03-01 05:30:39,47.4009,-121.4905,339773,4956,NaN,334817.0,53.0,...,5234432.0,NaN,1.458621,84000053.0,USA,68739.403167,NaN,02-28-2021.csv,02-28-2021,2
55,West Virginia,US,2021-03-01 05:30:39,38.4912,-80.9545,131855,2300,121797.0,7758.0,54.0,...,2204237.0,NaN,1.744340,84000054.0,USA,122994.207506,NaN,02-28-2021.csv,02-28-2021,2
56,Wisconsin,US,2021-03-01 05:30:39,44.2685,-89.6165,617367,7014,549668.0,60685.0,55.0,...,6906878.0,NaN,1.136115,84000055.0,USA,118625.269088,NaN,02-28-2021.csv,02-28-2021,2
57,Wyoming,US,2021-03-01 05:30:39,42.7560,-107.3025,54394,671,53132.0,591.0,56.0,...,636716.0,NaN,1.233592,84000056.0,USA,110014.012741,NaN,02-28-2021.csv,02-28-2021,2

In [56]:
df_total['Month_name'] = df_total['datetime'].dt.month_name(locale='English')

In [57]:
df_total

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,...,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate,filename,Date,Month,datetime,Month_name
0,Alabama,US,2021-01-02 05:30:44,32.3182,-86.9023,365747,4872,202137.0,158738.0,1.0,...,1.332068,84000001.0,USA,38448.804196,NaN,01-01-2021.csv,01-01-2021,1,2021-01-01,January
1,Alaska,US,2021-01-02 05:30:44,61.3707,-152.4044,47019,206,7165.0,39615.0,2.0,...,0.438428,84000002.0,USA,174391.185778,NaN,01-01-2021.csv,01-01-2021,1,2021-01-01,January
2,American Samoa,US,2021-01-02 05:30:44,-14.2710,-170.1320,0,0,NaN,0.0,60.0,...,NaN,16.0,ASM,3846.084722,NaN,01-01-2021.csv,01-01-2021,1,2021-01-01,January
3,Arizona,US,2021-01-02 05:30:44,33.7298,-111.4312,530267,9015,76934.0,444318.0,4.0,...,1.700087,84000004.0,USA,39551.860582,NaN,01-01-2021.csv,01-01-2021,1,2021-01-01,January
4,Arkansas,US,2021-01-02 05:30:44,34.9697,-92.3731,229442,3711,199247.0,26484.0,5.0,...,1.617402,84000005.0,USA,67979.497674,NaN,01-01-2021.csv,01-01-2021,1,2021-01-01,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,Virginia,US,2021-03-01 05:30:39,37.7693,-78.1700,576050,8552,NaN,567498.0,51.0,...,1.484593,84000051.0,USA,69154.810621,NaN,02-28-2021.csv,02-28-2021,2,2021-02-28,February
54,Washington,US,2021-03-01 05:30:39,47.4009,-121.4905,339773,4956,NaN,334817.0,53.0,...,1.458621,84000053.0,USA,68739.403167,NaN,02-28-2021.csv,02-28-2021,2,2021-02-28,February
55,West Virginia,US,2021-03-01 05:30:39,38.4912,-80.9545,131855,2300,121797.0,7758.0,54.0,...,1.744340,84000054.0,USA,122994.207506,NaN,02-28-2021.csv,02-28-2021,2,2021-02-28,February
56,Wisconsin,US,2021-03-01 05:30:39,44.2685,-89.6165,617367,7014,549668.0,60685.0,55.0,...,1.136115,84000055.0,USA,118625.269088,NaN,02-28-2021.csv,02-28-2021,2,2021-02-28,February
57,Wyoming,US,2021-03-01 05:30:39,42.7560,-107.3025,54394,671,53132.0,591.0,56.0,...,1.233592,84000056.0,USA,110014.012741,NaN,02-28-2021.csv,02-28-2021,2,2021-02-28,February

In [58]:
df_total['Mon_Year'] = df_total['datetime'].dt.strftime('%b-%Y')

In [59]:
df_total

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,...,UID,ISO3,Testing_Rate,Hospitalization_Rate,filename,Date,Month,datetime,Month_name,Mon_Year
0,Alabama,US,2021-01-02 05:30:44,32.3182,-86.9023,365747,4872,202137.0,158738.0,1.0,...,84000001.0,USA,38448.804196,NaN,01-01-2021.csv,01-01-2021,1,2021-01-01,January,Jan-2021
1,Alaska,US,2021-01-02 05:30:44,61.3707,-152.4044,47019,206,7165.0,39615.0,2.0,...,84000002.0,USA,174391.185778,NaN,01-01-2021.csv,01-01-2021,1,2021-01-01,January,Jan-2021
2,American Samoa,US,2021-01-02 05:30:44,-14.2710,-170.1320,0,0,NaN,0.0,60.0,...,16.0,ASM,3846.084722,NaN,01-01-2021.csv,01-01-2021,1,2021-01-01,January,Jan-2021
3,Arizona,US,2021-01-02 05:30:44,33.7298,-111.4312,530267,9015,76934.0,444318.0,4.0,...,84000004.0,USA,39551.860582,NaN,01-01-2021.csv,01-01-2021,1,2021-01-01,January,Jan-2021
4,Arkansas,US,2021-01-02 05:30:44,34.9697,-92.3731,229442,3711,199247.0,26484.0,5.0,...,84000005.0,USA,67979.497674,NaN,01-01-2021.csv,01-01-2021,1,2021-01-01,January,Jan-2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,Virginia,US,2021-03-01 05:30:39,37.7693,-78.1700,576050,8552,NaN,567498.0,51.0,...,84000051.0,USA,69154.810621,NaN,02-28-2021.csv,02-28-2021,2,2021-02-28,February,Feb-2021
54,Washington,US,2021-03-01 05:30:39,47.4009,-121.4905,339773,4956,NaN,334817.0,53.0,...,84000053.0,USA,68739.403167,NaN,02-28-2021.csv,02-28-2021,2,2021-02-28,February,Feb-2021
55,West Virginia,US,2021-03-01 05:30:39,38.4912,-80.9545,131855,2300,121797.0,7758.0,54.0,...,84000054.0,USA,122994.207506,NaN,02-28-2021.csv,02-28-2021,2,2021-02-28,February,Feb-2021
56,Wisconsin,US,2021-03-01 05:30:39,44.2685,-89.6165,617367,7014,549668.0,60685.0,55.0,...,84000055.0,USA,118625.269088,NaN,02-28-2021.csv,02-28-2021,2,2021-02-28,February,Feb-2021
57,Wyoming,US,2021-03-01 05:30:39,42.7560,-107.3025,54394,671,53132.0,591.0,56.0,...,84000056.0,USA,110014.012741,NaN,02-28-2021.csv,02-28-2021,2,2021-02-28,February,Feb-2021